.password-reset-page {
  width: 100%;
}

/* Container */
.password-reset-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
}

/* Navbar */
.password-reset-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 825px;
  margin: auto;
  padding: 20px 0 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.password-reset-navbar .heading {
  font-size: 22px;
  font-weight: 600;
}

.password-reset-navbar .option-container {
  display: flex;
  gap: 20px;
}

.password-reset-navbar .option-container .option {
  opacity: 0.6;
  cursor: pointer;
}

.password-reset-navbar .option-container .option.option-active {
  opacity: 1;
}

/* Form */
.password-reset-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  flex: 1;
  padding: 14px 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 18px;
  margin-bottom: 12px;
}

.input-warning {
  color: #e30000;
  text-align: left;
  font-size: 12px;
}

.input-warning img {
  width: 14px;
  margin-top: -2px;
  margin-right: 4px;
}

.password-reset.password,
.password-reset.password-confirm-1,
.password-reset.password-confirm-2 {
  display: block;
}

.full {
  width: 100%;
}

.select {
  cursor: pointer;
}

.left-label {
  display: block;
  text-align: left;
  margin-bottom: 6px;
  font-size: 16px;
  margin-left: 10px;
}

.label {
  display: block;
  text-align: left;
  margin-bottom: 6px;
  font-weight: 500;
}

.password-reset-form-password,
.password-reset-form-new-password,
.password-reset-form-password-confirm {
  width: 100%;
  margin-bottom: 16px;
}

.password-reset-form-password .input,
.password-reset-form-new-password .input,
.password-reset-form-password-confirm .input {
  margin-bottom: 6px;
}

.password-container {
  position: relative;
}

.button_check {
  font-size: 16px;
  font-weight: 600;
  width: 120px;
  height: 56.6px;
  position: absolute;
  left: 600px;
  border: 1px solid #000;
  border-radius: 12px;
  color: #fff;
  background-color: rgba(41, 78, 226, 0.9);
}

.button_check:hover,
.button_check:active {
  background-color: rgba(41, 78, 226, 1) !important;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.8) !important;
}

/* Info Section */
.info-box {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 28px 0;
  color: #555;
}

.info-img {
  width: 50px;
}

.info-text {
  font-size: 14px;
  line-height: 1.4;
  text-align: left;
  margin: 0;
}

/* Button */
.btn-submit {
  width: 100%;
  padding: 14px 0;
  background: #0071e3;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.btn-submit:hover {
  background: #0577ff;
}

.warning-active {
  display: block;
}
