.slider-container {
  width: 100%;
  text-align: center;
  margin-top: 36px;
}

.text-header {
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  color: #000;
}

.slider-title {
  margin-left: 50px; /* Đẩy nhẹ sang trái */
}

.model-name {
  margin-top: 12px;
  font-size: 24px;
  font-weight: 400;
  color: #000;
}

.model-viewer {
  width: 100%;
  height: 480px;
  overflow: hidden;
  position: relative;
}

.color-selector {
  margin-top: 12px;
  display: flex;
  justify-content: center;
}

.color-dots-bg {
  background: #1c1c1e;
  padding: 12px 28px;
  border-radius: 999px;
  display: flex;
  gap: 18px;
}

.dot {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.2s ease;
  border: 2px solid transparent;
}

.dot.active {
  opacity: 1;
  transform: scale(1.15);
  border-color: #fff;
}
