.account-page {
  width: 100%;
}

/* Container */
.account-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
}

/* Navbar */
.account-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 825px;
  margin: auto;
  padding: 20px 0 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.account-navbar .heading {
  font-size: 22px;
  font-weight: 600;
}

.account-navbar .option-container {
  display: flex;
  gap: 20px;
}

.account-navbar .option-container .option {
  opacity: 0.6;
  cursor: pointer;
}

.account-navbar .option-container .option.active {
  opacity: 1;
}

/* Form */
.account-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  gap: 12px;
  margin-bottom: 16px;
  width: 100%;
}

.account-form-name {
  flex: 1;
  padding: 0;
  margin-bottom: 6px;
}

.input.name {
  width: 100%;
  padding: 14px 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 18px;
  margin-bottom: 6px;
}

.input {
  flex: 1;
  padding: 14px 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 18px;
  margin-bottom: 12px;
}

.input-warning {
  color: #e30000;
  text-align: left;
  font-size: 12px;
}

.input-warning img {
  width: 14px;
  margin-top: -2px;
  margin-right: 4px;
}

.firstname,
.lastname,
.birthday,
.email,
.email-existed,
.password,
.password-confirm-1,
.password-confirm-2,
.phone,
.phone-existed {
  display: none;
}

select {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #fff;
  background-image: url("data:image/svg+xml;utf8,<svg fill='%23666' height='16' width='16' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 2px center;
  background-size: 30px;
}

.full {
  width: 100%;
}

.select {
  cursor: pointer;
}

.left-label {
  display: block;
  text-align: left;
  margin-bottom: 6px;
  font-size: 16px;
  margin-left: 10px;
}

.label {
  display: block;
  text-align: left;
  margin-bottom: 6px;
  font-weight: 600;
}

.input-form-birthday {
  width: 100%;
  margin-bottom: 16px;
}

.input-form-birthday .row {
  margin-left: 0;
  margin-bottom: 0;
}

.input-form-birthday .row .select {
  margin-bottom: 6px;
}

.account-form-email,
.account-form-password,
.account-form-password-confirm,
.account-form-phone {
  width: 100%;
  margin-bottom: 16px;
}

.account-form-email .input,
.account-form-password .input,
.account-form-password-confirm .input,
.account-form-phone .input {
  margin-bottom: 6px;
}

/* Info Section */
.account.info-box {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 12px 0 28px;
  color: #555;
}

.info-img {
  width: 50px;
}

.info-text {
  font-size: 14px;
  line-height: 1.4;
  text-align: left;
  margin: 0;
}

/* Button */
.btn-submit {
  width: 100%;
  padding: 14px 0;
  background: #0071e3;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.btn-submit:hover {
  background: #0577ff;
}

.active {
  display: block;
}
