.navbar {
  width: 100%;
  background: #fafafa; /* Màu chuẩn Apple */
  padding: 8px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  /* border-bottom: 2px solid rgba(0, 0, 0, 0.1); */

  /* Gradient border giống Apple Store — xanh → cam */
  border-bottom: none;
  background-image: linear-gradient(
    to right,
    #0277ff 0%,
    /* xanh Apple */ #ff6a00 100% /* cam Apple */
  );
  background-repeat: no-repeat;

  /* tạo “border” dạng hairline */
  background-size: 100% 3px;
  background-position: bottom;
}

.navbar-menu {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.navbar-item a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  padding: 0 24px;
  color: #1d1d1f;
  opacity: 0.9;
  transition: 0.2s ease;
}

.navbar-item a:hover {
  opacity: 1;
}

.navbar-item svg {
  fill: #1d1d1f;
  transition: 0.2s;
}

.navbar-item svg:hover {
  opacity: 1;
  transform: scale(2);
}

/* Logo nhỏ hơn 1 chút để giống style globalnav của Apple */
.logo svg {
  width: 20px;
  height: 20px;
  transform: scale(2);
}

/* Cart icon */
.cart svg {
  width: 20px;
  height: 20px;
  transform: scale(2);
}
