body {
  background: #f7f7f7;
  backdrop-filter: blur(20px);
  color: black;
  width: 100%;
  max-width: 1520.8px;
}

.navbar .nav-link {
  color: #fff;
  transition: color 0.2s ease-in-out;
}

.navbar .nav-link:hover,
.navbar .nav-link.active {
  color: #f39c12 !important; /* vàng nổi bật khi hover/active */
}
